{% extends 'base.html.twig' %}

{% block title %}{{ map.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('mapViewer') }}
{% endblock %}

{% block body %}
    <div class="container-fluid mt-4">
        <div class="row mb-4">
            <div class="col">
                <h1>
                    <i class="fas fa-map me-2"></i> {{ map.title }}
                </h1>
                <p class="lead">{{ map.description }}</p>
                
                <div class="btn-toolbar mb-3">
                    <div class="btn-group me-2">
                        <a href="{{ path('map_index') }}" class="btn btn-outline-secondary">
                            <i class="fas fa-arrow-left me-1"></i> Back to Maps
                        </a>
                        <a href="{{ path('map_edit', {'id': map.id}) }}" class="btn btn-outline-primary">
                            <i class="fas fa-edit me-1"></i> Edit Map
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <!-- Map Display -->
            <div class="col-lg-8">
                <div id="map-container" class="map-container"
                     data-map-id="{{ map.id }}" 
                     data-map-center-lat="{{ map.centerLat }}" 
                     data-map-center-lng="{{ map.centerLng }}" 
                     data-map-zoom="{{ map.zoomLevel }}">
                </div>
            </div>
            
            <!-- Geo Objects Sidebar -->
            <div class="col-lg-4">
                <div class="geo-objects-sidebar">
                    <!-- List of Geo Objects -->
                    {% include 'geo_object/_list.html.twig' with {'geoObjects': geoObjects|default([])} %}
                    
                    <!-- Geo Object Form -->
                    {% include 'geo_object/_form.html.twig' with {'form': geoObjectForm, 'map': map} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {# Load scripts through Webpack Encore #}
    {{ encore_entry_script_tags('mapViewer') }}
    {{ encore_entry_script_tags('iconSelector') }}
    {{ encore_entry_script_tags('geoObjectForm') }}
{% endblock %} 